@mixin breakpoint($type) {
  @if $type == desktop {
    @media only screen and (min-width: 1000px) {
      @content
    }
  } @else if $type == largeDesktop {
    @media only screen and (min-width: 1600px) {
      @content
    }
  } @else if $type == hover {
    @media only screen and (hover: hover) {
      @content
    }
  }
}

@mixin flexRow($wrap, $justify) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  align-items: center;
}

@mixin customFlex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin imageHover($type) {
  filter: brightness(0%);

  &:hover {
    @if type == comments {
      filter: brightness(100%) hue-rotate(200deg)
    } @else {
      filter: none;
    }
  }
}

@mixin absPos($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}