$text1: rgb(39, 39, 39);
$text2: rgb(99, 99, 99);
$text3: rgba(129, 129, 129, 0.458);
$textErr: rgb(235, 15, 3);
$bg1: rgb(231, 231, 231);
$hover1: rgb(1, 1, 118);
$accent1: rgb(2, 126, 2);
$accent2: rgb(226, 247, 226);
$shadow1:rgb(201, 192, 192);

$fsNav: calc(1rem + 0.3vw); 
$fsText: 0.9em;