@use '../vars' as *;
@use '../mixins' as *;

.article-preview {
  @include customFlex(column, nowrap, flex-start, flex-start);
  position: relative;
  width: 90%;
  min-width: none;
  margin: 2.5% 5%;
  border-radius: 12px;
  background: $accent2;

  &__header {
    height: fit-content;
    // check this usage, is it neccessary, and is it different to auto?
  }

  &__header-container {
    @include customFlex(row, nowrap, space-between, top);
    height: fit-content;
    // see above
  }

  &__title {
    padding-right: 2px;
  }

  &__title,
  &__author {
    margin: 0;
    margin-left: 20px;
    padding-bottom: 5px;
  }

  &__author {
    font-weight: 300;
    color: $text2;

    &:hover {
      font-weight: 500;
    }
  }

  &__img-container {
    margin: 5px 20px 10px 20px;
    min-width: 0;
    min-height: 0;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__img {
    width: 100%;
  }

  &__stats {
    @include customFlex(row, nowrap, flex-start, bottom);
    margin-left: 20px;
  }

  &__stat {
    @include customFlex(row, nowrap, space-between, baseline);
    cursor: pointer;
    margin-right: 5px;

    &:hover {
      border-bottom: solid 3px $accent1;
    }
  }

  &__stat-text {
    margin: 0;
    margin-bottom: 5px;

    &:hover {
      color: $text1
    }
  }

  &__logo {
    width: 30px;
    height: fit-content;
    // check use of fit-content
    padding: 5px;
    cursor: pointer;

    &--comments {
      @include imageHover(comments)
    }
  }

  &__datetime {
    @include absPos(auto, 0, 0, auto);
    display: block;    
    margin: 0;
    padding: 5px;
    font-weight: 300;
    color: $text2;
  }

  &__vote-error {
    color: $textErr;
    font-weight: 600;
    font-size: $fsText;
    margin-left: 10px;
    margin-top: 7px;
  }
}