@use '../vars' as *;

.greet {
  margin: 0;
  text-align: center;
  font-size: $fsText;
  font-weight: 500;
  color: $text2;

  &__user {
    color: $text1;
    font-weight: 600;

    &:hover {
      color: $accent1;
    }
  }
}
