@use '../vars' as *;

.header {
  margin: 20px;
  width: calc(8em + 10%);
  font-weight: 800;
  font-size: calc(1.2em + 2vw);
  border-bottom: solid 3px $text1;
}

.greet {
  margin: 0;
  text-align: center;
  font-size: $fsText;
  font-weight: 500;
  color: $text2;

  &__user {
    color: $text1;
    font-weight: 600;

    &:hover {
      color: $accent1;
    }
  }
}

.community {
  text-align: center;
  margin: auto;
  color: $text1;

  &__header {
    font-weight: 600;
    margin-top: 20px;
  }

  &__description {
    font: {
      weight: 300;
      size: $fsText;
      style: italic;
    }
    margin-top: 5px;
    margin-bottom: 20px
  }
}

.total-articles {
  margin-left: 20px;
  margin-bottom: 0;
  font-size: $fsText;
  font-weight: 400;
  color: $text2;
}

.error {
  color: $textErr;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;

  &--no-comments {
    color: $text2;
  }
}



