@use '../vars' as *;
@use '../mixins' as *;

.user {
  @include customFlex(column, nowrap, flex-start, center);

  &__title {
    margin: 20px;
    margin-bottom: 5px;
    color: $text1;
    font-size: 2.5em;
    font-weight: 800;
  }

  &__name {
    margin: 10px;
    margin-top: 0;
    color: $text2;
    font-weight: 500;
  }

  &__img {
    border-radius: 50%;
    padding: 20px;
    width: 50%;
    max-width: 300px;
    border: solid 4px $accent1;
  }

  
}