@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

:root {
    --dark-text: rgb(39, 39, 39);
    --faint-text: rgb(99, 99, 99);
    --fainter-text: rgba(129, 129, 129, 0.458);
    --background2: rgb(231, 231, 231);
    --button-highlight: navy;
    --accent: green;
    --pale-accent: rgb(226, 247, 226);
    --accent2: orangered;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

a {
    color: var(--dark-text);
    text-decoration: none;
}

a:hover {
    color: var(--button-highlight);
}

button {
    border: none;
    background-color: transparent;
}

/* App */

#app-title {
    margin: 20px;
    width: 43%;
    font-weight: 800;
    font-size: calc(1.2em + 2vw);
    border-bottom: solid 3px var(--accent);
}

/* Nav */

#nav-main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--background2);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: calc(1em + 0.3vw);
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--accent);
    min-width: none;
    padding-left: 20px;
}

.end {
    margin-right: 20px
}

#logout {
    font-weight: 600;
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 0;
    height: fit-content
}
#logout:hover {
    color: var(--button-highlight);
}

.logged-in-nav-items,
.guest-nav-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#welcome-user{
    text-align: center;
    font-size: 0.9em;
    color: var(--faint-text);
    font-weight: 500;
    margin: 0;
}

#user {
    color: var(--dark-text);
    font-weight: 600;
}

/* Feed */

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

/* ArticlePreview */

#total-articles {
    margin-left: 20px;
    font-size: 0.9em;
    color: var(--faint-text);
    font-weight: 400;
    margin-bottom: 0;
}

.article-preview {
    position: relative;
    background-color: var(--pale-accent);
    border-radius: 12px;
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 90%;
    min-width: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.article-preview-header {
    height: fit-content;
}

.article-preview-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
    height: fit-content;
}

.article-preview-title {
    margin: 0;
    padding: 20px;
    padding-bottom: 5px;
    padding-right: 0;
}

.article-preview-author {
    margin: 0;
    margin-left: 20px;
    padding-bottom: 5px;
    font-weight: 300;
    color: var(--faint-text);
}

.article-preview-author:hover {
    font-weight: 500;
}

.article-preview-topic {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: var(--accent-2);
}

.image-container {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 20px;
    min-width: 0;
    min-height: 0;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.article-preview-img {
    width: 100%;
}

.article-preview-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: bottom;
    margin-left: 20px;
}

.article-preview-stat {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 3%;
    align-items: baseline;
    cursor: pointer;
    margin-right: 5px
}

.article-preview-stat-text {
    margin: 0;
    margin-bottom: 5px;
}

.article-preview-logo {
    padding: 2%;
    width: 30px;
    height: fit-content;
    filter: brightness(0%);
    cursor: pointer;
}


.article-bin {
    width: 19px;
    height: 24px;
    margin-left: 0;
    margin-bottom: 5px;
    filter: brightness(70%);
    padding: 0;
    padding-top: 5px;
}

.article-bin:hover {
    filter: none;
}

.article-preview-datetime {
    margin: 0;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-weight: 300;
    color: var(--faint-text);
}

.articles-error {
    color: red;
    margin-top: 20px;
    font-weight: 600;
}

.no-comments {
    color: var(--faint-text);
}

@media (orientation: landscape) {

    .article-preview {
        width: 30%;
        margin: 0;
        margin-bottom: 3%;
        height: 300px;
    }

    #total-articles {
        margin-bottom: 10px;
    }
}

/* Article */

#article {
    margin: 20px;
}

#article-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--dark-text);
}

#title-topic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#article-title {
    color: var(--dark-text);
    margin-bottom: 0;
}


.preview-topic {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1em;
    color: var(--background2);
}

.article-topic {
    margin: 10px;
    color: var(--background2);
    height: 1.5em;
    margin-bottom: 0;
    margin-right: 0;
}

#article-author,
#article-created-at {
    color: var(--faint-text);
    font-weight: 400;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 0;
}

#article-created-at {
    display: flex;
    align-items: flex-end;
    font-size: 0.8em;
}

#article-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#article-body {
    margin: 20px;
    margin-left: 0;
}

#article-image {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    margin-left: 0;
}

#article-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: var(--pale-accent);
    border-radius: 12px;
    align-items: center;
}

.article-stat {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.article-logo {
    width: 30px;
    height: fit-content;
    margin: 20px;
    margin-right: 5px;
    filter: brightness(0%);
    cursor: pointer;
}

.article-stat-text {
    font-size: 1em;
    font-weight: 600;
}

.drop-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--dark-text);
    margin-left: 10px;
    cursor: pointer;
  }

.drop-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid var(--dark-text);
    margin-left: 10px;
    cursor: pointer;
}

.article-vote-error {
    color: red;
    margin-left: 20px;
    font-weight: 600;
}

.article-preview-vote-error {
    color: red;
    font-weight: 600;
    font-size: 0.8em;
}


@media (orientation: landscape) {
   
    .article-logo {
        width: 40px;
        height: fit-content;
        margin: 20px;
        margin-right: 5px;
    }

    .article-stat-text {
        font-size: 1.2em;
        font-weight: 600;
        margin: 18px;
        margin-left: 5px;
    }

    #article-body {
        margin: 20px;
        margin-left: 0;
        max-width: 58%;
    }
}

/* Comments */

.comment-list {
    padding-left: 0;
}


/* Comment */

.comment {
    border-bottom: solid 2px var(--fainter-text);
    position: relative;
    max-width: 1100px;
}

.comment-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.comment-author,
.comment-datetime {
    font-size: 0.8em;
    margin: 0;
    margin-top: 5px;
}

.comment-stat {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.comment-stat-text {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.comment-logo {
    width: 20px;
    margin: 0;
    margin-right: 2px;
    padding: 0;
    height: 20px;
    filter: brightness(0%);
    cursor: pointer;
}

.comment-vote-error {
    color: red;
    font-weight: 600;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3px;
}

.comment-body {
    margin-bottom: 10px;
}

.bin {
    width: 15px;
    height: 19px;
    margin-left: 5px;
    margin-bottom: 1px;
    filter: brightness(70%);
}

.bin:hover {
    filter: none;
}

.space {
    height: 20px;
}

/* NewComment */

#new-comment-form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 10px;
}

.input-body {
    border-radius: 8px;
    border: solid 2px var(--fainter-text);
    height: 4em;
    flex-grow: 5;
    max-width: 500px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.submit-button {
    border-radius: 8px;
    background-color: var(--accent);
    color: var(--background2);
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;
}

.submit-button:hover {
    background-color: var(--background2);
    color: var(--dark-text);
}

.post-comment-error {
    margin: 10px;
    margin-left: 0;
    font-size: 0.8em;
}

.comments-link {
    font-weight: 600;
    color: var(--accent);
}

.comments-header {
    color: var(--faint-text);
}

/* Filters */

#filters {
    border: solid 2px var(--accent);
    border-radius: 12px;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#page-num {
    font-size: 0.8em;
    margin: 10px;
    margin-right: 5px;
    color: var(--faint-text);
    font-weight: 600;
}

.page-nav {
    background-color: var(--background2);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 8px;
    color: var(--accent);
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: flow nowrap;
    justify-content: center;
    align-items: center;
}

.page-nav:hover {
    background-color: var(--pale-accent);
    color: var(--accent);
}

.drop-down-filter {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--accent);
    margin-left: 2px;
  }

.drop-up-filter {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid var(--accent);
    margin-left: 2px;
}

#filter-form {
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.filter-label {
    margin-left: 20px;
    padding: 5px;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--faint-text);
}

.filter-dropdown {
    border-radius: 8px;
    border: none;
    background-color: var(--background2);
    padding: 5px;
    font-weight: 600;
    color: var(--accent);
}

.filter {
    margin-bottom: 10px;
}

/* SignUp */

#sign-up-form,
#login-form {
    margin-left: 20px;
}

.form-label {
    color: var(--dark-text);
    display: block;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: 20px;
}

.form-input {
    height: 1.2em;
    width: 300px;
    border-radius: 8px;
    border: solid 2px var(--background2);
    padding: 5px;
    font-weight: 600;
    color: var(--accent);
}

.form-text-input {
    height: 10em;
    width: 95%;
    border-radius: 8px;
    border: solid 2px var(--background2);
    padding: 5px;
    font-weight: 600;
    color: var(--accent);
    font-family: 'Inter', sans-serif;
}

.form-help {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    color: var(--faint-text);
}

.login-help {
    margin-bottom: 10px;
    margin-top: 0;
}

.form-validator {
    margin-left: 20px;
}

.login-button {
    display: block;
    background-color: var(--background2);
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
}

.login-button:hover {
    background-color: var(--accent);
    color: var(--background2);
}

@media(min-width: 1000px) {
    .form-text-input {
        width: 60%;
    }
}
/* Effects */

.star {
    filter: none;
}

/* Loaders */

.loader {
    width: 30px;
    height: 30px;
    border: 6px solid var(--accent);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    animation: rotation 1s linear infinite;
    margin: auto;
    margin-top: 30px;
}

.comment-loader {
    margin-top: 30px;
    margin-bottom: 50px;
}

.logout-loader {
    height: 15px;
    width: 15px;
    border-width: 4px;
    margin: 47px;
    margin-bottom: 0;
    margin-top: 2px;
}

/* Post */

#post-article-form {
    margin: 20px;
}

/* Profile */

#user-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#user-title {
    font-size: 2.5em;
    font-weight: 800;
    margin: 20px;
    margin-bottom: 5px;
    color: var(--dark-text);
}

#user-name {
    font-weight: 500;
    color: var(--faint-text);
    margin: 10px;
    margin-top: 0;
}

.user-content-bar {
    margin: 20px;
}

.history-text {
    margin: 20px;
    margin-right: 0;
    font-weight: 600;
    color: var(--dark-text);

}

#profile-pic {
    border-radius: 50%;
    padding: 20px;
    width: 50%;
    max-width: 300px;
    border: solid 4px var(--accent);
}

/* Modal */
#darken-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.292);
    margin: 0;
    padding: 0;
    z-index: 99;    
}

#modal {
    position: fixed;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 100;
}

#modal-title {
    margin-top: 0
}

#modal-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.modal-buttons {
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
}

#modal-yes-button {
    background-color: rgba(96, 215, 5, 0.812);
}

#modal-yes-button:hover {
    background-color: rgb(61, 139, 1);
}

#modal-no-button {
    background-color: rgba(213, 8, 1, 0.807);
}

#modal-no-button:hover {
    background-color: rgba(155, 7, 2, 0.807);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 